:root{
    font-family: 'Courier New', Courier, monospace;
    --fonts: 'Courier New', Courier, monospace;
    /* --main-color: #32363a;   */
    --background-main: #36AE7C;
    --hover-box: #202020dd;
    --text-color: #ffffff;

    --main-color: #187498;

    /* nav bar stuff */
    --nav-hover: #114255;
    --nav-here: #187498;
    /* can change nav-here-hover */
    --nav-here-hover: #114255;

}

body{
    background-color: var(--background-main);
    text-align: center;
    color: var(--text-color);
    
}

#post{
    background-color: var(--hover-box);
    margin-left: 20%;
    margin-right: 20%;
    height: 210px;
    border-radius: 20px;
    padding-top: 20px;

}

.title{
    color: var(--main-color);
}

@media only screen and (min-width: 900px) {
    .body { 
        margin-left: 10%;
        margin-right: 10%;

    }
    #post{
        margin-left: 3%;
        margin-right: 3%;
    }
  }

  /* @media only screen and (max-width: 2000px){
    #post{
        max-width: 260px;

    }
} */


/* hide scroll bar  */
.hide-bar::-webkit-scrollbar {
    display: none;
  }

/* navbar stuff */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-main);
    }

    .stick {
        position: sticky;
        top: 0;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-bottom: 10%;
    
    }

    li a:hover {
    background-color: var(--nav-hover);
    border-radius: 10px;
    }

    .here {
    background-color: var(--nav-here);
    border-radius: 10px;
    margin: 2px;
    color: #000;
    }
    
    .here:hover{
        background-color: var(--nav-here-hover);
        border-radius: 10px;
        margin: 2px;
    }
    
    .navbar-Logo{
        float: right;
    }



/* below is loader... */


#loader {
    border: 12px solid var(--nav-here);
    border-radius: 50%;
    border-top: 12px solid var(--background-main);
    width: 70px;
    height: 70px;
    animation: spin 5s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

