{% extends 'layout.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Home</title>

    <link rel="stylesheet" href={{ url_for("static", filename="css/home.css")}} />

</head>
<body>

    <!-- cards  -->
    {% for post in posts %}

    <div>
        <img src="{{ url_for("static", filename="not_found.svg") }}" alt="img" style="height: 100px;">
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
        <br><br>
    </div>

{% endfor %}
    
</body>
</html>
{% endblock %}