{% extends 'layout.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Home</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/home.css")}} />

</head>
<body>

    <!-- cards  -->
    <section class="cards">
        
        {% for post in posts %}
        
        <artical class = "card">
                <img class = "card-img" src="{{ url_for("static", filename="not_found.svg") }}" alt="img" >
            <div class = "container">
                <p>{{ post.title }}</p>
                <p>{{ post.description }}</p>
            </div>
        </artical>
        {% endfor %}

    </section>

</body>
</html>
{% endblock %}